<!doctype html>
<html lang="en">
<head>
    <title>Testing vue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="app">
    <div class="container">
        <div class="card mt-5">
            <h2 class="card-header">Near-Earth Objects</h2>
            <div class="m-3" v-cloak v-if="numAsteroids > 0">
                <p>Showing <strong>{{numAsteroids}}</strong> items</p>
                <p>{{closestObject}} that has the shortest miss distance</p>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <th>#</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                <tbody v-cloak>
                <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id">
                    <td>{{index + 1}}</td>
                    <td>{{a.name}}</td>
                    <td>{{getCloseApproachDate(a)}}</td>
                    <td>
                        <ul class="list-group" v-if="a.close_approach_data.length > 0">
                            <li class="list-group-item" v-for="(value, key, index) in a.close_approach_data[0].miss_distance">
                                <strong>{{index + 1}} </strong> - {{key}}: {{value}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button class="btn btn-warning" @click="remove(index)">remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>